<form action="add_contact" method="post">

  <label for="">First Name</label>
  <input type="text" name="contact-first-name" placeholder="John">

  <label for="">Last Name</label>
  <input type="text" name="contact-last-name" placeholder="Smith">

  <label for="">Job Title</label>
  <input type="text" name="contact-job-title" placeholder="Programmer">

  <label for="">Company</label>
  <input type="text" name="contact-company" placeholder="Google">

  <label for="">Contact Type</label>
  <input type="text" name="contact-type" placeholder="Co-worker">

  <!-- <label for="">Contact Phone</label>
  <input type="text" name="contact-phone-number" placeholder="555-1234"> -->


<button type="submit" name="create-contact">Add Contact</button>
</form>
